@import "../../node_modules/bootstrap/scss/bootstrap"; 

.hide{ display:none; }
#history ul{
	margin:20px 0 0px 0;
}
.alert .close{ margin:0; }
button, input, a{
	outline:none !important;	
}

@include media-breakpoint-down(md) {
	button{ margin-top:10px; }
}